body {
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    display: flex;
    justify-content: center;
}

h1 {
    color: black;
    text-align: center;
}

p {
    color: black;
    text-align: center;
}

.buttonA {
    color: white;
    text-align: center;
    padding: 12px 25px;
    margin: 10px 0;
    border-radius: 8px;
    font-size: 10px;
}

.buttonB {
    color: blue;
    text-align: center;
    padding: 12px 25px;
    margin: 10px 0;
    border-radius: 8px;
}