body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgreen;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
} 

h1, p {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: lightblue;
}

p {
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: lightblue; 
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
    text-align: center;
}

a {
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
}

.buttonA {
    background-color: lightblue;
    color: darkgreen;
    font-weight: bold;
}

.buttonB {
    background-color: white;
    color: darkgreen;
    font-weight: bold;
}
    
a:hover {
    color: darkcyan;
    text-decoration: none;
    background-color: burlywood;
    padding:5px;
}

.regform {
    width: 350px;
    padding: 30px;
    margin: 20px;
    background-color: darkblue;
    border-radius: 10px;
    margin: 40px auto;
}

.appform {
    width: 350px;
    padding: 30px;
    margin: 20px;
    background-color: darkblue;
    border-radius: 10px;
    margin: 40px auto;
}

.logform {
    width: 350px;
    padding: 30px;
    margin: 20px;
    background-color: darkblue;
    border-radius: 10px;
    margin: 40px auto;
}

li {
    text-align: center;
}

#first, #last, #email, #username, #password, #date, #reason, #time, #name, #searchbox {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid darkgray;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    color: darkgreen;
} 
