<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>About <%=healthData.healthName%></title>
</head>
<body>
    <h1>About <%=healthData.healthName%></h1>
    
    <p><a href="/">HOME</a></p>
  
    <p>This is a fitness app. A place where you can track all your goals and activities. WE will be grateful if you join our community explore our app and give us a try!</p>
    
</body>
</html>