<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/main.css">
    <title><%=healthData.healthName%></title>
</head>
<body>
    <h1>Book Appointment</h1>
    <form action="" method="post">
        <p>Name: <input type="text" id="name" name="name" required></p>
        <p>Date: <input type="date" id="date" name="date" required></p>
        <p>Time: <input type="time" id="time" name="time" required></p>
        <p>Reason: <input type="text" id="reason" name="reason" required></p>
        <input type="submit" value="Book">
    </form>
</body>
</html>