<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/main.css">
    <title><%=healthData.healthName%></title>
</head>
<body>
    <h1><%=healthData.healthName%></h1>
    <p><a href="" class="buttonA">Log in</a></p>
    <p><a href="" class="buttonB">Register</a></p>
    <p><a href="" class="buttonA">Search</a></p>
    <p><a href="" class="buttonB">About</a></p>
</body>
</html>