<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/main.css">
    <title>Log into <%=healthData.healthName%></title>
</head>
<body>
    <h1>Login into <%=healthData.healthName%> </h1>
    <div class="nav">
        <h1><%=healthData.healthName%></h1>
        <p><a href="/users/login" class="buttonA">Log in</a></p>
        <p><a href="/users/register" class="buttonB">Register</a></p>
        <p><a href="/find/search" class="buttonA">Search</a></p>
        <p><a href="/about" class="buttonB">About</a></p>
        <p><a href="/logout" class="buttonA">LogOut</a></p>
        <p><a href="/appointment/bookapp" class="buttonB">Book Appointment</a></p>
    </div>

    <form action="" method="post">
        <p>Username: <input type="text" id="username" name="username" required></p>
        <p>Password: <input type="text" id="password" name="password" required></p>
        <input type="submit" value="Log in">
    </form>
</body>
</html>