<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Log into <%=healthData.healthName%></title>
</head>
<body>
    <h1>Login into <%=healthData.healthName%> </h1>
    <p><a href="/">HOME</a></p>
   <div class="logform">
     <form action="/users/loggedin" method="POST">
        <p>Username: <input type="text" id="username" name="username" required></p>
        <p>Password: <input type="password" id="password" name="password" required></p>
        <input class="buttonA" type="submit" value="Log in">
     </form>
    </div>
</body>
</html>