<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/main.css">
    <title>Register with <%=healthData.healthName%></title>
</head>
<body>
    <h1>Register with us!</h1>
    <form action="" method="post">
        <p>First Name: <input type="text" name="first" id="first" required></p>
        <p>Last Name <input type="text" name="last" id="last" required></p>
        <p>Email: <input type="text" name="email" id="email" required></p>
        <p>Username: <input type="text" id="username" name="username" required></p>
        <p>Password: <input type="text" id="password" name="password" required></p>
        <input class="buttonA" type="submit" value="Register">
    </form>
</body>
</html>