<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/main.css">
    <title>Search in <%=healthData.healthName%></title>
</head>
<body>
    <h1>Search <%=healthData.healthName%> for recipes and excercises</h1>
    <p><a href="/">HOME</a></p>

    <form action="" method="get">
        <input  class="" type="text" id="search-box" name="search-text">
        <input class="buttonA" type="submit" value="search">
    </form>
</body>
</html>